h1{
    color:#ff0000; /*(Hex code) red green blue */
    /*color: rbg(255,0,0);*/
    text-align: center;
    text-transform: uppercase;
}
small{
    color: green;
    line-height: 50px;
    word-spacing: 30px;
    letter-spacing: 10px;    
}

/* Universal Selector */
*{
margin: 0px;
padding: 0px;
}

/* Tag Selector/ Element Selector */
h4{
    color: red;
    line-height: 40px;
    text-align: justify;
}
a[title="google"]{
    color: black;
    text-decoration: none;
}

/* Id Selector*/
#idSelector{
 color: red;
}

/* Class Selector */
.one{
    color: green;
    word-spacing: 30px;
    letter-spacing: 10px;
}

/* Descendent Selector*/
.dec a{
    color: red;
}

/* Child Selector */
.child > a{
    color: blue;
}

/* Pseudo Selector */
a:link{
    color:red;
}
a:hover{
    color: green;
}
a:active{
    color: yellow;
}
a:visited{
    color: orange;
}

/* Target */
:target{
    color: purple;
    font-size: 30px;
    line-height: 50px;
}